# 引入套件

In [1]:
import pandas as pd

In [2]:
# 補充

# 顯示所有 row
# pd.set_option('display.max_columns', None)

# 顯示所有 column
# pd.set_option('display.max_rows', None)

# 設定顯示數值的方式
# pd.set_option('display.float_format',lambda x : '%.2f' % x)

# covid19 資料探索

## 讀取資料

In [3]:
df = pd.read_csv('covid19_data/time_series_covid19_confirmed_global.csv')
df.head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/2/20,9/3/20,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38243,38288,38304,38324,38398,38494,38520,38544,38572,38606
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,9728,9844,9967,10102,10255,10406,10553,10704,10860,11021
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,45158,45469,45773,46071,46364,46653,46938,47216,47488,47752
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1199,1199,1215,1215,1215,1261,1261,1301,1301,1344
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2777,2805,2876,2935,2965,2981,3033,3092,3217,3279
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,94,95,95,95,95,95,95,95,95,95
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,439172,451198,461882,471806,478792,488007,500034,512293,524198,535705
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,44075,44271,44461,44649,44783,44845,44953,45152,45326,45503
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,4091,4099,4104,4114,4118,4126,4135,4142,4152,4157

## 將日期轉換成 DatetimeIndex

In [4]:
# 只有少數國家有 Province/State，所以我們把 Province/State 捨去，以 Country/Region 為單位來看確診數
df = df.drop(columns=['Province/State','Lat', 'Long'])
df = df.groupby('Country/Region').agg('sum')
df.head(10)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,9/2/20,9/3/20,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,38243,38288,38304,38324,38398,38494,38520,38544,38572,38606
Albania,0,0,0,0,0,0,0,0,0,0,...,9728,9844,9967,10102,10255,10406,10553,10704,10860,11021
Algeria,0,0,0,0,0,0,0,0,0,0,...,45158,45469,45773,46071,46364,46653,46938,47216,47488,47752
Andorra,0,0,0,0,0,0,0,0,0,0,...,1199,1199,1215,1215,1215,1261,1261,1301,1301,1344
Angola,0,0,0,0,0,0,0,0,0,0,...,2777,2805,2876,2935,2965,2981,3033,3092,3217,3279
Antigua and Barbuda,0,0,0,0,0,0,0,0,0,0,...,94,95,95,95,95,95,95,95,95,95
Argentina,0,0,0,0,0,0,0,0,0,0,...,439172,451198,461882,471806,478792,488007,500034,512293,524198,535705
Armenia,0,0,0,0,0,0,0,0,0,0,...,44075,44271,44461,44649,44783,44845,44953,45152,45326,45503
Australia,0,0,0,0,4,5,5,6,9,9,...,26049,26136,26207,26278,26321,26373,26465,26524,26564,26607
Austria,0,0,0,0,0,0,0,0,0,0,...,27969,28372,28729,29087,29271,29561,30081,30583,31247,31827

In [5]:
# 將 DataFrame 作轉置，把日期變成 index
df = df.T
df.head(10)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,2,0,0,0,0,0
1/27/20,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,2,0,0,0,0,0
1/28/20,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,2,0,0,0,0,0
1/29/20,0,0,0,0,0,0,0,0,6,0,...,0,0,0,0,2,0,0,0,0,0
1/30/20,0,0,0,0,0,0,0,0,9,0,...,0,0,0,0,2,0,0,0,0,0
1/31/20,0,0,0,0,0,0,0,0,9,0,...,2,0,0,0,2,0,0,0,0,0

In [6]:
# 將 index 轉為 datatime 的型態
df.index = pd.to_datetime(df.index)
df.head(10)

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-01-22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-27,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-28,0,0,0,0,0,0,0,0,5,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-29,0,0,0,0,0,0,0,0,6,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-30,0,0,0,0,0,0,0,0,9,0,...,0,0,0,0,2,0,0,0,0,0
2020-01-31,0,0,0,0,0,0,0,0,9,0,...,2,0,0,0,2,0,0,0,0,0

## 轉為 DatetimeIndex 後就可以使用很多方便的功能

In [7]:
df[df.index.day == 15]

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-02-15,0,0,0,0,0,0,0,0,15,0,...,18,0,0,0,16,0,0,0,0,0
2020-03-15,16,42,48,1,0,1,45,26,297,860,...,3077,8,1,10,56,38,0,0,0,0
2020-04-15,784,494,2160,673,19,23,2443,1111,6440,14336,...,107465,493,1302,197,267,291,6,1,48,23
2020-05-15,6053,916,6629,761,48,25,7479,4044,7035,16109,...,227334,732,2686,459,314,375,6,106,654,42
2020-06-15,25527,1590,11031,853,142,26,32785,17064,7347,17135,...,273888,848,5263,3062,334,505,9,844,1382,387
2020-07-15,34994,3752,20770,862,576,74,111146,33005,10810,19154,...,293469,1009,14581,10428,381,7064,10,1526,1895,1089
2020-08-15,37551,7260,38133,989,1879,93,289100,41495,23287,23179,...,319232,1434,34528,32607,951,16153,10,1858,9186,5176

In [8]:
# 任何年份的 4 月
# df[df.index.month == 4]

# 2020 的 4 月
# df['2020-04']

# 2020 的 4 月
df[(df.index.month == 4) & (df.index.year == 2020)]

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-04-01,237,259,847,390,8,7,1054,571,4862,10711,...,43789,350,181,143,218,134,0,0,36,8
2020-04-02,273,277,986,428,8,9,1133,663,5116,11129,...,48718,369,205,146,233,161,0,0,39,9
2020-04-03,281,304,1171,439,8,15,1265,736,5330,11524,...,53699,386,227,153,237,194,0,0,39,9
2020-04-04,299,333,1251,466,10,15,1451,770,5550,11781,...,57772,400,266,155,240,217,0,0,39,9
2020-04-05,349,361,1320,501,14,15,1451,822,5687,12051,...,61422,406,342,159,241,237,4,0,39,9
2020-04-06,367,377,1423,525,16,15,1554,833,5797,12297,...,66738,415,457,165,245,254,4,0,39,10
2020-04-07,423,383,1468,545,17,19,1628,853,5895,12639,...,72224,424,520,165,249,261,4,0,39,11
2020-04-08,444,400,1572,564,19,19,1715,881,6010,12942,...,77387,456,545,167,251,263,4,0,39,11
2020-04-09,484,409,1666,583,19,19,1795,921,6108,13244,...,82293,473,582,171,255,263,4,0,39,11
2020-04-10,521,416,1761,601,19,19,1975,937,6215,13555,...,86660,494,624,171,257,267,4,1,40,13
2020-04-11,555,433,1825,601,19,21,1975,967,6303,13806,...,90273,501,767,175,258,268,4,1,40,14
2020-04-12,607,446,1914,638,19,21,2142,1013,6315,13945,...,93812,480,865,181,262,271,6,1,43,14
2020-04-13,665,467,1983,646,19,23,2208,1039,6351,14041,...,98017,483,998,189,265,273,6,1,45,17
2020-04-14,714,475,2070,659,19,23,2277,1067,6415,14226,...,102365,492,1165,189,266,284,6,1,45,17
2020-04-15,784,494,2160,673,19,23,2443,1111,6440,14336,...,107465,493,1302,197,267,291,6,1,48,23
2020-04-16,840,518,2268,673,19,23,2571,1159,6462,14476,...,112808,502,1349,204,268,294,6,1,48,23
2020-04-17,906,539,2418,696,19,23,2669,1201,6522,14595,...,117798,508,1405,204,268,307,6,1,52,24
2020-04-18,933,548,2534,704,24,23,2758,1248,6568,14671,...,122534,517,1490,227,268,313,6,1,57,25
2020-04-19,996,562,2629,713,24,23,2839,1291,6610,14749,...,126394,528,1565,256,268,319,6,1,61,25
2020-04-20,1026,584,2718,717,24,23,2941,1339,6623,14795,...,131260,535,1627,256,268,329,6,1,65,25
2020-04-21,1092,609,2811,717,24,23,3031,1401,6645,14873,...,136035,543,1678,285,268,329,6,1,70,28
2020-04-22,1176,634,2910,723,25,24,3144,1473,6652,14925,...,141540,549,1716,288,268,335,6,1,74,28
2020-04-23,1279,663,3007,723,25,24,3435,1523,6662,15002,...,146708,557,1758,311,268,336,6,1,76,28
2020-04-24,1351,678,3127,731,25,24,3607,1596,6677,15071,...,151689,563,1804,318,270,340,6,1,84,29
2020-04-25,1463,712,3256,738,25,24,3780,1677,6694,15148,...,155453,596,1862,323,270,342,6,1,84,31
2020-04-26,1531,726,3382,738,26,24,3892,1746,6714,15225,...,158926,606,1869,325,270,342,6,1,88,31
2020-04-27,1703,736,3517,743,27,24,4003,1808,6721,15274,...,163630,620,1904,329,270,342,6,1,88,32
2020-04-28,1828,750,3649,743,27,24,4127,1867,6744,15357,...,168357,625,1939,329,270,343,6,1,95,32
2020-04-29,1939,766,3848,743,27,24,4285,1932,6752,15402,...,173807,630,2002,331,270,344,6,6,97,32
2020-04-30,2171,773,4006,745,27,24,4428,2066,6766,15452,...,178771,643,2039,333,270,344,6,6,106,40

In [9]:
df['2020-04-01':'2020-04-05']

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
2020-04-01,237,259,847,390,8,7,1054,571,4862,10711,...,43789,350,181,143,218,134,0,0,36,8
2020-04-02,273,277,986,428,8,9,1133,663,5116,11129,...,48718,369,205,146,233,161,0,0,39,9
2020-04-03,281,304,1171,439,8,15,1265,736,5330,11524,...,53699,386,227,153,237,194,0,0,39,9
2020-04-04,299,333,1251,466,10,15,1451,770,5550,11781,...,57772,400,266,155,240,217,0,0,39,9
2020-04-05,349,361,1320,501,14,15,1451,822,5687,12051,...,61422,406,342,159,241,237,4,0,39,9

In [10]:
# 根據資料最後一天的確診人數來排序國家，稍微看一下目前比較嚴重的地區有哪些
df = df.sort_values(by=df.index[-1], axis=1,ascending=False)
df = df.iloc[:,0:10]
df

Country/Region,US,India,Brazil,Russia,Peru,Colombia,Mexico,South Africa,Spain,Argentina
2020-01-22,1,0,0,0,0,0,0,0,0,0
2020-01-23,1,0,0,0,0,0,0,0,0,0
2020-01-24,2,0,0,0,0,0,0,0,0,0
2020-01-25,2,0,0,0,0,0,0,0,0,0
2020-01-26,5,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2020-09-07,6300622,4280422,4147794,1027334,689977,671848,637509,639362,525549,488007
2020-09-08,6327009,4370128,4162073,1032354,691575,671533,642860,640441,534513,500034
2020-09-09,6360212,4465863,4197889,1037526,696190,686851,647321,642431,543379,512293
2020-09-10,6396100,4562414,4238446,1042836,702776,694664,652364,644438,554143,524198
2020-09-11,6443743,4659984,4282164,1048257,710067,702088,658299,646398,566326,535705

## Resampling Time-Series

<table>
<td> 
<img src="image/time_interval.PNG" style="width:250;height:250px;"> <br>
</td> 
<td> 
<img src="image/resample_method.PNG" style="width:300;height:300px;"> <br>
</td> 
</table>

In [11]:
df.resample('M').mean()

Country/Region,US,India,Brazil,Russia,Peru,Colombia,Mexico,South Africa,Spain,Argentina
2020-01-31,3.800000e+00,2.000000e-01,0.000000e+00,2.000000e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-02-29,1.303448e+01,2.896552e+00,1.724138e-01,2.000000e+00,0.000000,0.000000,0.172414,0.000000,5.206897,0.000000
2020-03-31,3.501397e+04,3.307097e+02,1.197645e+03,3.943226e+02,248.451613,199.677419,262.064516,328.161290,23953.096774,210.612903
2020-04-30,6.517692e+05,1.492023e+04,3.495020e+04,3.764790e+04,13698.133333,3390.133333,7650.466667,2934.800000,174559.233333,2585.866667
2020-05-31,1.464760e+06,9.962884e+04,2.562673e+05,2.663578e+05,92017.935484,15877.870968,50333.645161,16044.322581,229117.838710,8888.903226
2020-06-30,2.164461e+06,3.650571e+05,9.387074e+05,5.365860e+05,231161.533333,58196.933333,156414.666667,80715.700000,244373.066667,36375.066667
2020-07-31,3.587125e+06,1.059022e+06,2.020705e+06,7.494529e+05,343926.806452,183234.032258,326056.064516,324448.935484,262396.451613,120282.935484
2020-08-31,5.366145e+06,2.668864e+06,3.319481e+06,9.196143e+05,529200.225806,465020.774194,519613.741935,579115.741935,359969.129032,298198.806452
2020-09-30,6.262446e+06,4.203645e+06,4.124647e+06,1.022328e+06,680688.636364,663722.272727,632614.727273,637765.272727,514537.909091,481029.636364

In [12]:
df.resample('M').mean().pct_change()

Country/Region,US,India,Brazil,Russia,Peru,Colombia,Mexico,South Africa,Spain,Argentina
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,2.430127,13.482759,inf,9.000000,NaN,NaN,inf,NaN,inf,NaN
2020-03-31,2685.256784,113.173579,6945.341935,196.161290,inf,inf,1518.974194,inf,4599.263619,inf
2020-04-30,17.614549,44.115805,28.182433,94.474877,54.134008,15.978051,28.193066,7.943163,6.287543,11.277817
2020-05-31,1.247361,5.677432,6.332355,6.074972,5.717553,3.683554,5.579160,4.466922,0.312551,2.437495
2020-06-30,0.477690,2.664171,2.663002,1.014530,1.512136,2.665286,2.107557,4.030795,0.066582,3.092188
2020-07-31,0.657283,1.900976,1.152647,0.396706,0.487820,2.148517,1.084562,3.019651,0.073754,2.306741
2020-08-31,0.495946,1.520122,0.642734,0.227047,0.538700,1.537852,0.593633,0.784921,0.371852,1.479145
2020-09-30,0.167029,0.575069,0.242558,0.111693,0.286259,0.427296,0.217471,0.101274,0.429395,0.613117

## Rolling

<img src="image/rolling.png" width="50%">

In [13]:
df.rolling('3D').mean()

Country/Region,US,India,Brazil,Russia,Peru,Colombia,Mexico,South Africa,Spain,Argentina
2020-01-22,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-23,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-24,1.333333e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-25,1.666667e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2020-01-26,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
2020-09-07,6.273986e+06,4.199615e+06,4.136105e+06,1.022231e+06,683509.000000,665608.333333,633647.000000,638254.333333,507842.333333,479535.000000
2020-09-08,6.301332e+06,4.285054e+06,4.149129e+06,1.027305e+06,688418.000000,669967.333333,638130.666667,639440.000000,519683.666667,488944.333333
2020-09-09,6.329281e+06,4.372138e+06,4.169252e+06,1.032405e+06,692580.666667,676744.000000,642563.333333,640744.666667,534480.333333,500111.333333
2020-09-10,6.361107e+06,4.466135e+06,4.199469e+06,1.037572e+06,696847.000000,684349.333333,647515.000000,642436.666667,544011.666667,512175.000000
2020-09-11,6.400018e+06,4.562754e+06,4.239500e+06,1.042873e+06,703011.000000,694534.333333,652661.333333,644422.333333,554616.000000,524065.333333

# 練習三
## 建一份新的 jupyter notebook ，用 time_series_covid19_deaths_global.csv 練習一下上面有提到的操作，最後看一下死亡人數成長最劇烈的是哪三個國家。